<h3> <i class="fas fa-book-reader"></i> StoryCore </h3>
<div class="section">
    <p class="lead">Create private and public stories or journals and discover other's stories </p>
</div>
<div class="divider"></div>
<div class="section" >
    <a href="/auth/google" class=" hover-border hover-grow btn red darken-2">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>
<div class="divider"></div>