
*{
    margin: 0;
    padding: 0;
}
p{
    margin: 11px 0 !important;
}
body{
    background-image: url('../background.jpg');
    background-size: 100%;
}
   
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center; 
   
    }
    th {
        text-decoration: underline;
        font-style: bold;
    }

.login-container{
    width: 400px; 
    margin-top: 50px; 
    text-align: center;
}

.editButton {
    float: left !important;
    margin-right: 11px;
    margin-bottom: 5px;
}

.img-small{
    width: 190px;
}

.hover-border:hover{
    box-shadow: 0 0 0 4px #000000 !important; 
    transition: .3s ease !important;
 }

.hover-grow:hover{  
     -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1) ;
    transition: 0.3s ease 2.0s ease-out ;
    box-shadow: 0 0 10px rgba(0,0,0,0.6); 
}

.fa-small {
    font-size: 14px !important;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end ;
    align-content: stretch;
  }

  .publicStoryTitle{
      padding: 0.1px;
    text-align: center;
    margin-top: 0.9rem;
   
  }